body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}

.question {
  width: 100%;
  max-width: 590px;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  border: 1px solid #dad7d7;
  border-radius: 3px;
  cursor: pointer;
}

.new-question {
  width: 100%;
  max-width: 590px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.textarea {
  border-radius: 4px;
  border: 1px solid #dad7d7;
  padding: 10px;
  font-size: 15px;
  height: 100px;
}

.center {
  text-align: center;
}

.active {
  font-weight: bold;
}